@import "theme";

.Container {
  padding: 0 5%;
  position: relative;


  .MessageText {
    margin: 0;
    padding: 10px 10px;
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }

  .MessageBox {
    border-radius: 20px;
    padding: 1px 5px;
    display: inline-block;
    max-width: 50%;
  }


  .SentText {
    display: flex;
    align-items: center;
    color: $background-light;
    letter-spacing: 0.3px;
  }

  small {
    position: absolute;
    margin-top: 1rem;
  }
}

.JustifyStart {
  display: flex;
  justify-content: flex-start;

  small {
    top: 85%;
    left: 6%;
  }
}

.JustifyEnd {
  display: flex;
  justify-content: flex-end;

  small {
    top: 85%;
    right: 6%;
  }
}

.SentByMe {
  display: flex;
  justify-content: flex-end;
  color: white;
  background: $accent-color;
}

.NotSentByMe {
  display: flex;
  justify-content: flex-start;
  color: #353535;
  background-color: $background-light;
}
