.Container {
  .OnlineUsers {
    min-height: 85vh;
  }

  .ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      width: 80%;
      align-self: center;
    }
  }
}
