.Container {

  .Spacing {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .UserList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
    button {
      width: 80%;
      align-self: center;
    }
}
