.Container {
  .ChatMessage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 82vh;
  }

  .InputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .Input {
      width: 40%;
    }
  }
}