.Container {
  width: 110%;
  .ChatMessage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 82vh;
  }

  .InputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.Input {
  position: fixed;
  bottom: 0;
  width: 40%;
}

.ScrollableBox {
  overflow: auto;
}